hostname {{ inventory_hostname }}
ip domain name {{ domain_name }}
{% for nameserver in nameservers %}
ip name-server {{ nameserver }}
{% endfor %}
service timestamps log datetime
service timestamps debug datetime
logging {{ syslog_ipv4 }}
logging trap {{ ios_loglevel }}
access-list 1 permit {{ workstation_ipv4 | ansible.utils.ipaddr('address') }} log
access-list 1 permit {{ controller_ipv4 | ansible.utils.ipaddr('address') }} log
snmp-server community {{ ro_community }} RO 1
access-list 110 permit tcp any any eq 22 log
interface GigabitEthernet1
 ip access-group 110 in
